.employees {
    width: 70%;
    max-width: 100%;
}

.employees td, .employees th {
    font-family: Calibri, sans-serif;
    font-size: 24px;
    border: 1px solid #d9d9d9;
    padding: 10px 12px;
    vertical-align: middle;
}

.employees th {
    background-color: #3498db;
    color: white;
    text-align: left;
}

.employees tr:nth-child(odd) {
    background-color: #eeeeee;
}