.wrap-request-form {
    font-family: Arial, serif;
    font-size: 16px;
    color: dimgrey;
    width: 805px;
    padding-top: 10px;
    max-width: 100%;
}

.request-form {
    background-color: antiquewhite;
    padding: 20px 20px 15px 20px;
    margin-top: 5px;
    font-weight: bold;
}

.first-form-label {
    padding-left: 20px;
    font-size: 30px;
    font-weight: lighter;
}

.article {
    padding-bottom: 14px;
    padding-top: 3px;
}

.info, .comment-text {
    width: 100%;
    box-sizing: border-box;
    border: none;
    margin: 5px 0;
    padding: 12px 10px;
    outline-color: dimgrey;
    font-size: 15px;
}

.comment-text {
    resize: vertical;
    font-family: Arial, serif;
}

.help-sign {
    font-weight: normal;
}

.send-request {
    border: none;
    background: #378CB1;
    margin-top: 10px;
    font-weight: bold;
    color: white;
    height: 30px;
    cursor: pointer;
    outline: none;
}

.send-request:hover {
    background: #316F89;
}

.wrap-send-request {
    width: 130px;
    margin-left: auto;
}