body {
    background-color: #FEEED6;
    font-family: Arial, serif;
    color: #676565;
    font-size: 14px;
    margin-top: 5px;
    margin-left: 10px;
}
div {
    margin-top: 15px;
}
.header {
    font-size: 22px;

}

.article {
    display: inline;
    font-weight: bold;
    color: #378DB2;
}

.content {
    white-space: nowrap;
}

.content-crossed {
    white-space: nowrap;
    text-decoration: line-through;
}

.text {
    text-indent: 10px;
}

p {
    margin-top: 15px;
}