body {
    background: #FEEED6;
    font-family: Arial, serif;
    color: #676565;
    font-size: 17px;
    margin-top: 7px;
    margin-left: 12px;
    text-align: justify;
    width: 800px;
    max-width: 70%;
}

.main-info {
    margin-top: 15px;
}

.header {
    font-size: 27px;
}

.article {
    font-weight: bold;
    color: #378DB2;
    margin: 1px 10px 10px 1px;
}

.content, .crossed {
    color: #676565;
    font-weight: normal;
}

.crossed {
    text-decoration: line-through;
}

.info {
    text-indent: 15px;
    margin-top: 10px;
}